$font-stack: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$text-color: #FFF;
$text-shade-color: darken($text-color, 13%);

$transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);

$navbar-size: 4rem;
$navbar-color: #000;
$navbar-padding: 0.5rem;

$border-radius: 0.25rem;

$button-size: $navbar-size - 1rem;
$button-padding: 0.5rem;
$button-color: #808080;
$button-highlight-color: darken($button-color, 13%);
$button-active-color: darken($button-highlight-color, 12%);
$button-border: 1px solid $button-highlight-color;

$accent-color: #2090FF;
$accent-highlight-color: darken($accent-color, 13%);

$input-background: #FFF;
$input-border: 1px solid #E0E0E0;
$input-text-color: #000;

@keyframes scale-fade {
  0% {
    transform: scale(1);
    opacity: 1;
    display: block;
  }
  99% {
    transform: scale(1.6);
    opacity: 0;
    display: block;
    pointer-events: none;
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(60deg);
  }
}

@media (orientation: landscape) and (min-width: 50rem) {
	header, footer {
		width: 20rem;
	}
	header {
		flex: 1 0 50%;
	}
	footer {
		flex: 0 1 10rem;
		order: 2;
	}
	main {
		order: 3;
		min-height: 100%;
		width: calc(100% - 20rem);
	}
	
	nav.collapsed {
		display: none;
	}
	header > nav.expanded:not(.ng-hide-animate),
	footer > nav.expanded:not(.ng-hide-animate) {
		display: flex !important;
	}
	
	nav.expanded button:only-child {
		flex: none;
		width: 50%;
		margin: 0 auto;
	}
}

#full-logo {
	display: none;
	@media (orientation: portrait) and (min-width: 50rem) {
		display: block;
	}
	height: 3rem;
	* {
		stroke-width: 0;
	}
}
header, footer {
  position: relative;

  min-height: $navbar-size;
  max-width: 100%;
  background: $navbar-color;
  
  display: flex;
  flex-wrap: wrap;
	
  @media (orientation: portrait) {
    max-height: 100%;
    min-width: $button-size;
  }
}

.loader {
  color: $text-color;
  font-size: 2rem;
}

@media (orientation: landscape) and (min-width: 50rem){
	header {
		align-content: flex-start;
		align-items: flex-start;
	}
	footer {
		align-content: flex-end;
		align-items: flex-end;
	}
}

footer {
  #logo {
    margin: auto;
    height: $navbar-size - 1rem;
    img {
      max-height: 100%;
    }
  }
  #text {
    padding: 0.5rem 0.25rem;
  }
}

#search, #status {
	transition: $transition;
}
#search:not(.focus) {
	& input,
	& button {
		opacity: 0;
	}
}
#status {
	z-index: 2;
	
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	
	overflow: hidden;
	text-overflow: ellipsis;
	padding: $navbar-padding ($navbar-padding / 2);
//	pointer-events: none;

	&.ng-hide-add,
	&.ng-hide-remove {
		display: block !important;
		opacity: 1;
	}
	
	&.ng-hide {
		opacity: 0;
	}
}
#search {
  z-index: 1;
	
//  position: absolute;
//  top: 0;
//  right: 0;
//  left: 0;
  
	margin: 0 auto;

	max-width: 25rem;
	width: 100%;
	
	position: relative;
	color: $text-color;
	
	display: block;
  padding: $navbar-padding ($navbar-padding / 2);
//  background: transparentize($navbar-color, 0.25);
  
//  margin-left: calc((-100% + #{$navbar-size * 2}) / 2);
//  margin-top: $navbar-padding;
  z-index: 1;
  
	button {
		position: absolute;
		right: 0;
		top: 0;
		margin: $navbar-padding ($navbar-padding / 2);
		background: transparent;
		border: none;
		appearance: none;
		width: $button-size / 2;
		height: 1.25rem;
	}
  input {
//		position: absolute;
//		left: 0;
//		top: 0;
		
		width: calc(100% - #{2 * $button-size});
//		margin-left: $button-size;
		color: $text-color;
		text-align: center;
    font-size: inherit;
    display: inline-block;
		background: transparent;
    line-height: 1.25;
//    border-radius: $border-radius;
//    border: $button-border;
		border: none;
    outline: none;
//    padding: $button-padding;
		padding: 0;
    margin: 0 /*($button-padding / 2)*/;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  
  #suggestions {
//    margin: $button-padding ($button-padding / 2);
//    flex-grow: 1;
//    display: flex;
//    flex-direction: column;
    
    .suggestion {
      color: $text-color;
      cursor: pointer;
			line-height: 1.25;
      padding: $button-padding / 2;
      
      background: transparent;
//      border: $button-border;
			border: none;
			border-top: 1px solid transparentize($text-color, 0.5);
//        border-bottom: none;
//      border-radius: $border-radius;
      
      display: flex;
      
      flex-grow: 1;
      
      transition: $transition;
      
      &.first {
				margin-top: $button-padding;
//        border-top-left-radius: $border-radius !important;
//        border-top-right-radius: $border-radius !important;
      }
      &.last {
				border-bottom: 1px solid transparentize($text-color, 0.5);
//        border-bottom-right-radius: $border-radius !important;
//        border-bottom-left-radius: $border-radius !important;
//          border-bottom: $button-border;
      }
      
      &.ng-animate {
        transition: none;
      }
      
      span {
        display: inline-block;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin: auto;
      }

      &.error {
        text-align: center;
        pointer-events: none;
        color: $text-shade-color;
        background: $button-highlight-color;
      }

      &:active,
      &.active,
      &:hover {
        background: transparentize($text-color, 0.75);
      }
    }
  }
}

svg {
  fill: $text-color;
  stroke: $text-color;
  stroke-width: 4px;
  stroke-linejoin: round;
  stroke-linecap: round;
  width: 100%;
  max-height: 100%;
  
  * {
    transition: $transition;
  }
}

nav {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  
	padding: $navbar-padding;
	
  @media (orientation: landscape) and (max-width: 50rem) {
    flex-direction: column;
  }	
	
  button {
    font-size: 1rem;
    font-weight: bold;
    
    flex-grow: 1;
    
    color: $text-color;
    
    height: $button-size;
    min-width: $button-size;
    
    padding: 0;
    margin: 0 ($button-padding / 2);
    
    border-radius: $border-radius;
    border: $button-border;
    
    background: $button-color;
    
    -webkit-appearance: none;
    -moz-appearance: none;
    
    transition: $transition;
    
    outline: none;
    
    @media (orientation: landscape) and (max-width: 50rem) {
      width: $button-size;
      min-height: $button-size;
      
      margin: ($button-padding / 2) 0;
    }
    
    &:hover svg {
      fill: $text-color;
      stroke: $text-color;
    }
    &.active, &.active:hover {
      background: $button-active-color;
      border: 1px solid $button-active-color;
      svg {
        fill: $text-color;
        stroke: $text-color;
      }
    }
    
    &.group {
      border-radius: 0;
      margin: 0;
      &.first {
        @media (orientation: portrait), (min-width: 50rem) {
          margin-left: $button-padding / 2;
          
          border-top-left-radius: $border-radius;
          border-bottom-left-radius: $border-radius;
        }
        
        @media (orientation: landscape) and (max-width: 50rem) {
          margin-top: $button-padding / 2;
          
          border-top-left-radius: $border-radius;
          border-top-right-radius: $border-radius;
        }
      }
      &.last {
        @media (orientation: portrait), (min-width: 50rem) {
          margin-right: $button-padding / 2;
          
          border-top-right-radius: $border-radius;
          border-bottom-right-radius: $border-radius;
        }
        
        @media (orientation: landscape) and (max-width: 50rem) {
          margin-bottom: $button-padding / 2;
          
          border-bottom-right-radius: $border-radius;
          border-bottom-left-radius: $border-radius;
        }
      }
    }
    
    &:hover {
      background: $button-highlight-color;
      cursor: pointer;
    }
    
    &.accent {
      background: $accent-color;
      border: 1px solid $accent-highlight-color;
      svg {
        fill: $text-color;
      }
      
      &:hover {
        background: $accent-highlight-color;
      }
    }
  }
  
  hr {
    width: 1px;
    height: $navbar-size / 2;
    
    background: transparentize(white, 0.75);
    
    flex-grow: 0;
    flex-shrink: 1;
    
    border: none;
    
    margin: $button-padding ($button-padding / 2);
    
    @media (orientation: landscape) and (max-width: 50rem) {
      width: $navbar-size / 2;
      height: 1px;
      
      margin: ($button-padding / 2) $button-padding;
    }
  }
}

[ui-view] {
  margin: 0;
  
  display: flex;
  flex-wrap: wrap;
  
  @media (orientation: portrait) {
    padding: $navbar-padding ($navbar-padding / 2);
    padding-bottom: 0;
    
    width: 100%;
  }
  @media (orientation: landscape) {
    padding: ($navbar-padding / 2) $navbar-padding;
    padding-right: 0;
  }
}

main {
  flex: 1;
  height: 100%;
  position: relative;
	
	@media (orientation: landscape) and (min-width: 50rem) {
		flex: none;
	}
	
  #map_canvas {
    height: 100%;
    width: 100%;
    position: absolute !important;
  }
  #spotlight {
    vertical-align: text-bottom;
    height: 1rem;
    width: 1rem;
  }
  #top-overlay {
    color: $text-color;
    text-align: center;
    line-height: 1.25;
//    padding: $button-padding;
    position: absolute;
    top: 0;
    width: 100%;
		background: transparentize($navbar-color, 0.25);
//    height: $navbar-size / 2;
//    background: transparentize($navbar-color, 0.25);
    z-index: 1;
    pointer-events: auto;
    white-space: nowrap;
//    overflow: hidden;
//    text-overflow: ellipsis;
//    status-bar {
//      display: block;
//      position: absolute;
//      appearance: none;
//      bottom: 0;
//      left: 0;
//      right: 0;
//      width: 100%;
//      height: 0.25rem;
//      div {
//        background: $accent-color;
//        transition: $transition;
//        border: 1px solid $accent-highlight-color;
//      }
//    }
  }
}

#save {
	flex-wrap: wrap;
	position: relative;
	align-content: space-around;
	height: $navbar-size;
	button {
		position: absolute;
		right: 0;
		top: 0;
		margin: $navbar-padding;
		float: right;
	}
	input {
		flex: none;
		height: 1.5rem;
		font-size: 0.75rem;
		width: calc(100% - #{$navbar-padding + $button-size});
		padding: 0.25rem 0.5rem;
		border: $input-border;
		background: $input-background;
		margin: 0;
		outline: none;
	}
	input:first-of-type {
		border-top-left-radius: $border-radius;
		border-top-right-radius: $border-radius;
	}
	input:last-of-type {
		border-bottom-left-radius: $border-radius;
		border-bottom-right-radius: $border-radius;
	}
}

.slide {
  transition: all 0.5s ease;
  &.ng-enter, &.ng-leave {
    position: absolute;
    left: 0;
    right: 0;
  }
  &.ng-enter {
    transform: translateX(100%);
  }
  &.ng-enter-active {
    transform: translateX(0%);
  }
  &.ng-leave {
    transform: translateX(0%);
  }
  &.ng-leave-active {
    transform: translateX(100%);
  }
  &.left {
    &.ng-enter {
      transform: translateX(-100%);
    }
    &.ng-enter-active {
      transform: translateX(0%);
    }
    &.ng-leave {
      transform: translateX(0%);
    }
    &.ng-leave-active {
      transform: translateX(-100%);
    }
  }
}