{
  "env": {
    "browser": true,
    "node": true,
    "amd": false,
    "mocha": false,
    "jasmine": false
  },
  "parser": "babel-eslint",
  "rules": {
    "brace-style": [2, "1tbs", { "allowSingleLine": true }],
    "camelcase": [0],
    "comma-style": [2, "last"],
    "default-case": [2],
    "dot-notation": [2, { "allowKeywords": true }],
    "eol-last": [2],
    "func-style": [0, "expression"],
    "quotes": [2, "single", "avoid-escape"],
    "new-cap": [0],
    "no-func-assign": false,
    "no-constant-condition": [1],
    "no-floating-decimal": [2],
    "no-extend-native": [0],
    "no-extra-parens": [0],
    "no-lonely-if": [2],
    "no-native-reassign": [0],
    "no-nested-ternary": [0],
    "no-reserved-keys": [2],
    "no-shadow": [2],
    "no-underscore-dangle": false,
    "no-unused-vars": [1, { "vars": "all", "args": "after-used" }],
    "space-after-function-name": [2, "never"],
    "space-after-keywords": [2, "always", { "checkFunctionKeyword": false }],
    "space-in-brackets": [0, "always", {
      "arraysInArrays": false,
      "arraysInObjects": false
    }],
    "space-in-parens": [0, "always", { "exceptions": ["{}", "[]"]}],
    "space-unary-ops": [2, { "words": true, "nonwords": false }],
    "spaced-line-comment": [0, "always"],
    "strict": [2, "global"],
    "wrap-iife": [2],
    "wrap-regex": [2],
    "yoda": [2, "never", { "exceptRange": true }]
  },
  "ecmaFeatures": {
    "arrowFunctions": true,
    "binaryLiterals": true,
    "blockBindings": true,
    "classes": true,
    "defaultParams": true,
    "destructuring": true,
    "forOf": true,
    "generators": true,
    "modules": true,
    "objectLiteralComputedProperties": true,
    "objectLiteralDuplicateProperties": false,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true,
    "octalLiterals": true,
    "regexUFlag": true,
    "regexYFlag": true,
    "spread": true,
    "superInFunctions": true,
    "templateStrings": true,
    "unicodeCodePointEscapes": true,
    "globalReturn": false,
    "jsx": true
  }
}
