@media all and (min-height:42.5em) {
	.button {
		height: 3em;
		width: 3em;
		margin: .5em;
	}
	.button_group {
		margin: .5em;
	}
	#sidebar {
		width: 4em;
	}

}
@media all and (min-height:36em) and (max-height:42.5em) {
	.button {
		height: 2.5em;
		width: 3em;
		margin: .5em;
	}
	.button_group {
		margin: .5em;
	}
	#sidebar {
		width: 4em;
	}

}
@media all and (min-height:29.5em) and (max-height:36em) {
	.button {
		height: 2em;
		width: 3em;
		margin: .5em;
	}
	.button_group {
		margin: .5em;
	}
	#sidebar {
		width: 4em;
	}

}
@media all and (max-height:29.5em) {
	.button {
		height: 1.5em;
		width: 2.5em;
		margin: .5em;
	}
	.button_group {
		margin: .5em;
	}
	#sidebar {
		width: 4em;
	}

}

@keyframes bezel {
	0% {
		opacity: 1;
	}
	12.5% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}

}
@keyframes throb {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0.25;
	}
}
#search_wrapper {
	width: 16em;
	position: absolute;
	right: 0;
	border-radius: 0.25em;
	overflow: hidden;
}
.suggestion {
	cursor: pointer;
	height: 2em;
	padding: 0.5em;
	background: #606060;
	color: rgba(255, 255, 255, 0.75);
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.suggestion.none {
	text-align: center;
}
.suggestion:hover {
	background: #404040;
	color: rgba(255, 255, 255, 1);
}
.suggestion.none {
	pointer-events: none;
}


.slide-show, .slide-hide {
	transition: 0.25s ease all;
}
.slide-show.slide-show-active, .slide-hide {
	opacity: 1;
	transform: translateX(0%);
}
.slide-hide.slide-hide-active, .slide-show {
	opacity: 0;
	transform: translateX(-100%);
}
/*#search_results.slide-show, #search_results.slide-hide {
	transform-origin: center top;
}*/
#search_results {
	transform-origin: 50% 0;
}
#search_results.slide-show.slide-show-active, #search_results.slide-hide {
	transform: scaleY(1);
}
#search_results.slide-hide.slide-hide-active, #search_results.slide-show {
	transform: scaleY(0);
}

.appear-enter, .appear-leave
{
	transition: 1s ease all;
	position: relative;
	display: block;
} 

.appear-enter.appear-enter-active, .appear-leave {
	opacity: 1;
	transition: 1s ease-out all;
	transform: translateX(0);
	height: 1em;
}
.appear-leave.appear-leave-active, .appear-enter {
	opacity: 0;
	transition: 1s ease-out all;
	transform: translateX(100%);
	height: 0;
}

body, html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font: 1em "Helvetica Neue", Helvetica, Arial, sans-serif;
	display: box;
}

* {
	transition: 0.125s ease;
}
#bezel {
	z-index: 10000;
	position: fixed;
	top: 50%;
	right: 50%;
	bottom: 50%;
	left: 50%;
	width: 10em;
	margin: -5em;
	height: 10em;
	background: rgba(0,0,0,.75);
	border-radius: 1em;
	box-shadow: 0 .5em 2em #000;
	opacity: 0;
	pointer-events: none;
	animation: bezel 1s ease-out;
}
#throbber {
	z-index: 1;
	position: fixed;
	top: 0;
	left: 50%;
	margin-left: -2.5em;
	width: 5em;
	background: rgba(0, 0, 0, 0.75);
	border-radius: 0 0 .5em .5em;
	padding: .5em;
	box-shadow: 0 .1em .5em rgba(0,0,0,.5);
	transition: .25s ease;
}
#throbber,#throbber * {
	pointer-events: none;
}
#throbber svg {
	height: 1em;
}
#throbber svg * {
	transition: none;
}
#dot1,#dot2,#dot3 {
	animation: throb .375s linear alternate infinite;
}
#dot1 {
	animation-delay: 0s;
}
#dot2 {
	animation-delay: -.125s;
}
#dot3 {
	animation-delay: -.25s;
}
#settings {
	position: fixed;
	height: 20em;
	width: 20em;
	top: 50%;
	left: 50%;
	z-index: 100002;
	background: #000;
	margin: -10em;
	border: 1px solid #000;
	border-radius: .25em;
	color: #fff;
	padding: .5em;
	box-sizing: border-box;
	box-shadow: inset 0 1px rgba(255,255,255,.25), 0 .1em 1em #000;
	font-weight: normal;
	text-align: left;
	display: block;
	transition: none;
}
#size input {
	display: block;
}
textarea {
	height: 10em;
	width: 19em;
	font-size: 1rem;
	font-family: monospace;
}
#settings_dialog input, #settings_dialog p {
	display: inline;
	padding: .25em .5em;
	margin: 0 .125em;
	width: 4em;
	border-radius: .25em;
	font-weight: normal;
	font-size: 1rem;
	box-sizing: border-box;
}
input {
	display: none;
	background: #fff;
}
.button {
	cursor: pointer;
	display: block;
	box-sizing: border-box;
	background: #808080;
	border-radius: 0.25em;
}
.button:hover:not(.active):not(:active):not(:checked) {
	background: #606060;
}
.button:hover:not(.active):not(:active):not(:checked) svg * {
	fill-opacity: 0.75;
	stroke-opacity: 0.75;
}
.active, .button:active, input:checked + .button {
	background: #404040;
	color: rgba(255, 255, 255, 1);
}
.active.trigger, .button.trigger:active, input:checked + .button.trigger {
	/*transition: 0.1s ease;*/
	transition: none;
}
.button:focus {
	outline-width: .5em;
	outline-offset: -.25em;
}
.button_group .button:first-of-type {
	border-radius: .25em .25em 0 0;
	border-bottom: none;
}
.button_group .button {
	margin: 0;
	border-radius: 0;
	border-bottom: none;
}
.button_group .button:last-of-type {
	border-radius: 0 0 .25em .25em;
	border-bottom: 1px solid #000;
}

svg :not(circle) {
	fill: #fff;
}

svg * {
	fill-opacity: 0.625;
	stroke-opacity: 0.625;
}
.active svg *, .button:active svg *, input:checked + .button svg * {
	fill-opacity: 1;
	stroke-opacity: 1;
}
#sidebar {
	height: 100%;
	overflow-x: hidden;
	position: relative;
	z-index: 1;
	background: #000;
	padding: 0;
	box-sizing: content-box;
	box-flex: 0;
}
#search_box {
	width: 100%;
	display: block;
	font: inherit;
	padding: .5em;
	/*background: #fff;
	border: 1px solid #000;
	outline: none;
	border-radius: .25em;
	box-shadow: 0 .1em .5em rgba(0, 0, 0, .5);*/
	box-sizing:border-box;
	height: 3em;
	z-index: 3;
	transition: none;
}
#image_controls {
	position: absolute;
	bottom: 0;
}
#image_controls, #image_controls * {
	/*transition: none;*/
}
#settings_wrapper {
	position: absolute;
	top: 100%;
}
img#static_map {
	display: block;
	position: absolute;
	bottom: 0;
	left: 4em;
	margin: .5em;
	z-index: 2;
	box-sizing: content-box;
	max-width: 20em;
	max-height: 20em;
	box-shadow: 0 1px rgba(255, 255, 255, .25);
	box-shadow: 0 .25em 1em #000;
	border-radius: .25em;
	background-color: #fff;
	background-image: linear-gradient(45deg, #f7f7f7 25%, transparent 25%, transparent 75%, #f7f7f7 75%, #f7f7f7), linear-gradient(45deg, #f7f7f7 25%, transparent 25%, transparent 75%, #f7f7f7 75%, #f7f7f7);
	background-size: 2em 2em;
	background-position: 0 0, 1em 1em;
	transition: none;
}

#map_wrapper {
	z-index: 0;
	height: 100%;
	/*width: calc(100% - 16em);*/
	box-flex: 1;
	cursor: crosshair;
}
#map_canvas {
	height: 100%;
	width: 100%;
	background-image: linear-gradient(45deg, #f7f7f7 25%, transparent 25%, transparent 75%, #f7f7f7 75%, #f7f7f7), linear-gradient(45deg, #f7f7f7 25%, transparent 25%, transparent 75%, #f7f7f7 75%, #f7f7f7);
	background-size: 2em 2em;
	background-position: 0 0, 1em 1em;
/*	box-flex: 1;*/
}
#map_canvas, #map_canvas * {
	transition: none;
}