@import 'variables';

@keyframes throb {
	0% {
		transform: scale3d(0.75, 0.75, 0);
		fill-opacity: 0;
	}
	25% {
		transform: scale3d(1, 1, 0);
		fill-opacity: 1;
	}
	75% {
		transform: scale3d(1, 1, 0);
		fill-opacity: 1;
	}
	100% {
		transform: scale3d(0.75, 0.75 ,0);
		fill-opacity: 0;
	}
}
@keyframes indeterminate {
	0% {
		transform: scaleX(0);
		transform-origin: left;
	}
	49% {
		transform: scaleX(1);
		transform-origin: left;
	}
	50% {
		transform: scaleX(1);
		transform-origin: right;
	}
	100% {
		transform: scaleX(0);
		transform-origin: right;
	}
}
// @media (orientation: landscape) and (min-width: 50rem) {
// 	main {
// 		order: 3;
// 		min-height: 100%;
// 		width: calc(100% - 20rem);
// 	}
// }

#full-logo {
	display: none;
	@media (orientation: portrait) and (min-width: 50rem) {
		display: block;
	}
	height: 3rem;
	* {
		stroke-width: 0;
	}
}

#search, #status {
	transition: $transition;
}
#search:not(.focus) {
	& input,
	& button {
		opacity: 0;
	}
}
#status {
	z-index: 2;
	
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	
	overflow: hidden;
	text-overflow: ellipsis;
	padding: $navbar-padding ($navbar-padding / 2);
//	pointer-events: none;

	&.ng-hide-add,
	&.ng-hide-remove {
		display: block !important;
		opacity: 1;
	}
	
	&.ng-hide {
		opacity: 0;
	}
}


.throbber {
	height: 1.2rem;
	.circle {
		animation: throb 1s ease-out infinite;
		transform-origin: center center;
	}
	.circle:nth-of-type(1) {
		animation-delay: -300ms;
	}
	.circle:nth-of-type(2) {
		animation-delay: -150ms;
	}
	.circle:nth-of-type(3) {
		animation-delay: -0ms;
	}
}

#search {
  z-index: 1;
	
//  position: absolute;
//  top: 0;
//  right: 0;
//  left: 0;
  
	margin: 0 auto;

	max-width: 25rem;
	width: 100%;
	
	position: relative;
	color: $text-color;
	
	display: block;
  padding: $navbar-padding ($navbar-padding / 2);
//  background: transparentize($navbar-color, 0.25);
  
//  margin-left: calc((-100% + #{$navbar-size * 2}) / 2);
//  margin-top: $navbar-padding;
  z-index: 1;
  
	button {
		position: absolute;
		right: 0;
		top: 0;
		margin: $navbar-padding ($navbar-padding / 2);
		background: transparent;
		border: none;
		appearance: none;
		width: $button-size / 2;
		min-width: $button-size / 2;
		height: 1.25rem;
		min-height: 1.25rem;
	}
  input {
//		position: absolute;
//		left: 0;
//		top: 0;
		
		width: calc(100% - #{2 * $button-size});
//		margin-left: $button-size;
		color: $text-color;
		text-align: center;
    font-size: inherit;
    display: inline-block;
		background: transparent;
    line-height: 1.25;
//    border-radius: $border-radius;
//    border: $button-border;
		border: none;
    outline: none;
//    padding: $button-padding;
		padding: 0;
    margin: 0 /*($button-padding / 2)*/;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  
  #suggestions {
//    margin: $button-padding ($button-padding / 2);
//    flex-grow: 1;
//    display: flex;
//    flex-direction: column;
    
    .suggestion {
      color: $text-color;
      cursor: pointer;
			line-height: 1.25;
      padding: $button-padding / 2;
      
      background: transparent;
//      border: $button-border;
			border: none;
			border-top: 1px solid transparentize($text-color, 0.5);
//        border-bottom: none;
//      border-radius: $border-radius;
      
      display: flex;
      
      flex-grow: 1;
      
      transition: $transition;
      
      &.first {
				margin-top: $button-padding;
//        border-top-left-radius: $border-radius !important;
//        border-top-right-radius: $border-radius !important;
      }
      &.last {
				border-bottom: 1px solid transparentize($text-color, 0.5);
//        border-bottom-right-radius: $border-radius !important;
//        border-bottom-left-radius: $border-radius !important;
//          border-bottom: $button-border;
      }
      
      &.ng-animate {
        transition: none;
      }
      
      span {
        display: inline-block;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin: auto;
      }

      &.error {
        text-align: center;
        pointer-events: none;
        color: $text-shade-color;
        background: $button-highlight-color;
      }

      &:active,
      &.active,
      &:hover {
        background: transparentize($text-color, 0.75);
      }
    }
  }
}

main {
  flex: 1;
  height: 100%;
  position: relative;
	
	@media (orientation: landscape) and (min-width: 50rem) {
		flex: none;
	}
	
  #map_canvas {
    height: 100%;
    width: 100%;
    position: absolute !important;
  }
  #spotlight {
    vertical-align: text-bottom;
    height: 1rem;
    width: 1rem;
  }
  #top-overlay {
    color: $text-color;
    text-align: center;
    line-height: 1.25;
//    padding: $button-padding;
    position: absolute;
    top: 0;
    width: 100%;
		background: transparentize($navbar-color, 0.25);
//    height: $navbar-size / 2;
//    background: transparentize($navbar-color, 0.25);
    z-index: 1;
    pointer-events: auto;
    white-space: nowrap;
//    overflow: hidden;
//    text-overflow: ellipsis;
    status-bar {
      display: block;
      position: absolute;
      appearance: none;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 0.25rem;
			
      & > div {
				& .bar {
					width: 100%;
					height: 100%;
					background: $text-color;
	        animation: indeterminate 1.5s cubic-bezier(0.23, 1, 0.32, 1) infinite;
				
					border-bottom: 1px solid $navbar-color;
				}
				max-width: 25rem;
				margin: 0 auto;
        
				transition: opacity 300ms cubic-bezier(0.23, 1, 0.32, 1);
				transition-delay: 100ms;
				opacity: 1;
				&.ng-hide-add {
					transition-delay: 50ms;
				}
				&.ng-hide {
					opacity: 0;
//					display: block !important;
//					transition-delay: 0ms;
				}
      }
    }
  }
}
